<!-- Inicio do conteudo do administrativo -->
<div class="wrapper">
  <div class="row">
    <div class="top-list">
      <span class="title-content">Visualizar</span>
      <div class="top-list-right">
        <a href="/noticias?page=1" class="btn-info">Listar</a>
        {{#each noticia}}
        <a href="/noticias/edit/{{id}}"
          class="btn-warning">Editar</a>
        <a href="/noticias/add-image/{{id}}"
          class="btn-warning">Adicionar Imagem</a>
        <a href="/noticias/edit-image/{{id}}"
          class="btn-warning">Editar Imagem</a>
        <a href="/noticias/delete/{{id}}"
          class="btn-danger" onclick="return confirm('Tem certeza que
          deseja excluir este registro?')">Apagar</a>
        {{/each}}
      </div>
    </div>
    {{>_msgAdm}}

    <div class="content-adm">
      <div class="view-det-adm">
        {{#each noticia}}
        <span class="view-adm-title">ID: </span>
        <span class="view-adm-info">{{id}}</span>
      </div>
      <div class="view-det-adm">
        <span class="view-adm-title">Título da notícia: </span>
        <span class="view-adm-info">{{titulo}}</span>
      </div>
      <div class="view-det-adm">
        <span class="view-adm-title">Subtítulo da notícia: </span>
        <span class="view-adm-info">{{subtitulo}}</span>
      </div>
      <div class="view-det-adm">
        <span class="view-adm-title">Autor da notícia: </span>
        <span class="view-adm-info">{{autor}}</span>
      </div>
      <div class="view-det-adm">
        <span class="view-adm-title">Situação: </span>
        <span class="view-adm-info">
          <a
            href="/situations/view/{{situationId}}">
            {{nomeSituacao}}
          </a>
        </span>
      </div>
      <div class="view-det-adm">
        <span class="view-adm-title">Cadastrado: </span>
        <span class="view-adm-info">
          {{#formatDate createdAt}}{{/formatDate}}
        </span>
      </div>
      <div class="view-det-adm">
        <span class="view-adm-title">Editado: </span>
        <span class="view-adm-info">{{#fotmatDateTime
          updatedAt}}{{/fotmatDateTime}}</span>
      </div>
      {{/each}}
      {{#each imagem}}
      <input type="hidden" name="id-{{id}}" value="{{id}}">
      <input type="hidden" name="urlOld-{{urlOld}}"
        value="{{urlOld}}"/>
      <div class="column">

        <input type="image" name="image" id="url-{{id}}"
          value="{{urlOld}}" onchange="inputFilePreviewImg()">
      </div>
      <div class="column">
        {{#if urlOld}}
        <span id="preview-img">
          <img src="/images/news/{{urlOld}}"
            alt="Imagem" class="view-image-user"></span>
        {{else}}
        <span id="preview-img">
          <img src="/images/news/user.jpg"
            alt="Imagem" class="view-image-user"></span>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
<!-- Fim do conteudo do administrativo -->